<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/air.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>Air Quality Tracker</title>
</head>
<audio autoplay loop playsinline id="background-audio">
    <source src="{{ url_for('static', filename='music.mp3') }}" type="audio/mpeg">
    Your browser does not support the audio tag.
  </audio>

<body>
    <div class="container">
        <header>
            <h1>Air Quality Tracker</h1>
            <nav>
                <button onclick="window.location.href='{{ url_for('index') }}'">Home</button>
                <button onclick="window.location.href='{{ url_for('show_map') }}'">Explore Map</button>
                <button onclick="window.location.href='{{ url_for('historical_data') }}'">Historical Data</button>
                <button onclick="window.location.href='{{ url_for('airquality_simulator') }}'">Air Quality Simulator</button>
                <button onclick="window.location.href='{{ url_for('about') }}'">About Us</button>
            </nav>
            <p>Adjust scenarios to visualize air quality particles!</p>
        </header>
        <div class="content-wrapper">
            <aside id="simulation-controls">
                <h2>Adjust Scenarios</h2>
                <div class="control">
                    <label for="carUsage">Car Usage Reduction (%):</label>
                    <input type="range" id="carUsage" class="input-slider" min="0" max="100" value="50">
                    <span id="carUsageValue">50%</span>
                </div>
                <div class="control">
                    <label for="greenSpaces">Increase Green Spaces (%):</label>
                    <input type="range" id="greenSpaces" class="input-slider" min="0" max="100" value="50">
                    <span id="greenSpacesValue">50%</span>
                </div>
                <div class="control">
                    <label for="newTrees">New Trees or Plants Planted (%):</label>
                    <input type="range" id="newTrees" class="input-slider" min="0" max="100" value="50">
                    <span id="newTreesValue">50%</span>
                </div>
            </aside>
            <div class="video-background">
                <video autoplay muted loop id="bg-video">
                    <source src="{{ url_for('static', filename='clouds.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <!-- Add gear images -->
        <img src="{{ url_for('static', filename='images/gear1.png') }}" alt="" class="gear-icon gear-1">
        <img src="{{ url_for('static', filename='images/gear2.png') }}" alt="" class="gear-icon gear-2">
        <img src="{{ url_for('static', filename='images/gear3.png') }}" alt="" class="gear-icon gear-3">

        <footer>
            <p>2024 Air Quality Tracker</p>
        </footer>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </div>
</body>
</html>